/*======= RESET ===========================*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*====  VARIABLES ============================ */
:root {
  /* colors */
  --base-color: #917e3a;
  --base-color-alt: #f0d46f;
  --text-color: hsl(0 0% 98%);
  --text-color-dark: #1f1f1f;
  --body-color: #131313;

  /* fonts */
  --title-font-size: 1.5rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*======== BASE =============================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

#logo {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--base-color);
  -webkit-font-smoothing: auto;
}

#logo span {
  color: var(--text-color);
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-dark);
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.delete {
  background-color: #4d4b55;
  margin-top: 1rem;
  color: var(--text-color);
  justify-content: center;
}

.delete:hover {
  background: #f34848;
}

/*======== HEADER =============================*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--body-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

/*======== LAYOUT =============================*/
.container {
  overflow: hidden;
  position: relative;
  background: var(--body-color);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
}

.wrap {
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

#poster {
  width: 19rem;
  height: 24rem;
  border-radius: 1rem;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.description {
  width: 30%;
}

#title {
  font-size: var(--title-font-size);
  padding: 1rem 0;
}

#metadata {
  padding: 1rem 0;
}

#pipe {
  margin: 0 7px;
}

#category span {
  padding: 0.3rem;
  background-color: var(--base-color);
  color: var(--text-color-dark);
  font: 500 var(--body-font);
  border-radius: 0.3rem;
}

@media (max-width: 850px) {
  .card {
    flex-direction: column;

    margin-top: 2rem;
  }

  .wrap {
    padding: 1rem;
  }

  .description {
    width: 80%;
    margin-bottom: 2rem;
  }

  #background {
    width: auto;
  }
}