/*======= RESET ===========================*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*====  VARIABLES ============================ */
:root {
  /* colors */
  --base-color: #f5c518;
  --base-color-alt: #f0d46f;
  --text-color: hsl(0 0% 98%);
  --text-color-dark: #1f1f1f;
  --body-color: #131313;

  /* fonts */
  --title-font-size: 1.5rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*======== BASE =============================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

#logo {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--base-color);
  -webkit-font-smoothing: auto;
}

#logo span {
  color: var(--text-color);
}

.button {
  background-color: #ff0000;
  color: var(--text-color);
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: #f34848;
}

.save {
  background-color: #00ff00;
  border-style: none;
}

.save:hover {
  background-color: #66fc66;
}

/*======== HEADER =============================*/
#header {
  background-color: var(--body-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

/*======== LAYOUT =============================*/
.container {
  background-color: var(--text-color-dark);
  width: 80%;
  border-radius: 5rem;
  padding: 2rem;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
}

#poster {
  width: 19rem;
  height: 24rem;
  border-radius: 1rem;
}

form {
  width: 50%;
  padding: 0 3rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem auto;
}

label {
  color: var(--base-color);
  font: 500 1rem var(--body-font);
  margin-bottom: 0.5rem;
}

input[type='text'],
input[type='number'],
textarea {
  border-radius: 0.6rem;
  padding: 0.7rem;
  background-color: var(--text-color-dark);
  color: var(--text-color);
  border: solid 3px rgb(53, 53, 53);
  font: 500 0.8rem var(--body-font);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 850px) {
  .container {
    padding: 2rem;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 100%;
    padding: 2rem 0 0 0;
  }
}
